@charset "UTF-8"; 
body{
      background-color: #000000;
}
h1{
    font-size: 5.75em;
        color: #ff0000;
      text-align:center;
}
h3{
    font-size: 1.00em;
      color:#ffffff;
}
p{
    font-size: 1.20em;
      color: #ffffff;
}
li{
    font-size: 0.8em;
       color: #ffffff;
}
