@charset "UTF-8"; 
body{
      background-color: #000000;
}
h1{
    font-size: 5.75em;
        color: #ff0000;
      text-align:center;
          border: #94c8b1 1px dotted; /* 境界線 */
    border-left:#d0e35b 10px solid;
    margin-bottom: 0; /* 隣り合う要素との間隔 */
    padding: 5px 20px;       
}
h3{
    font-size: 1.50em;
      color: #ff0000;
}
p{
    font-size: 1.20em;
      color: #ffffff;
}
li{
    font-size: 0.8em;
       color: #ffffff;
}
